<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			.media, .media-body { overflow: hidden; zoom: 1; }
			.media-body, .media-left, .media-right { display: table-cell; vertical-align: top; }
			.media-left, .media>.pull-left { padding-right: 10px; }
		</style>
	</head>
	<body>
		<div class="media">
	      	<div class="media-left">
	        	<a href="#">123</a>
	      	</div>
	      	<div class="media-body">
	        	<h4 class="media-heading">Top aligned media</h4>
	        	<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
	        	<p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
	      	</div>
	    </div>
	</body>
</html>
