@charset "utf-8";

/*使固定高度滚动流畅*/
.scroll-wrap{ -webkit-overflow-scrolling: touch; }

/*去掉移动设备点击出现的背景色*/
.btn{ -webkit-tap-highlight-color: rgba(0,0,0,0); }

/*移动端1像素边框问题*/
.elem::after {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
    -webkit-transform-origin: top left;
}

/*单行文本省略号*/
.elem{ overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }

/*多行文本省略号*/
.elem{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }