@charset "utf-8";

/*使固定高度滚动流畅*/
.scroll-wrap{ -webkit-overflow-scrolling: touch; }

/*去掉移动设备点击出现的背景色*/
.btn{ -webkit-tap-highlight-color: rgba(0,0,0,0); }

/*移动端1像素边框问题*/
.elem::after {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
    -webkit-transform-origin: top left;
}

/*单行文本省略号*/
.elem{ overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }

/*多行文本省略号*/
.elem{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }

/*Android web视图，例如在 HTC EVO 和三星的 Galaxy Nexus 中，文本输入框在输入时表现的就像占位符。情况为一个类似水印的东西在用户输入区域，一旦用户开始输入便会消失。*/
*{ -webkit-user-modify: read-write-plaintext-only }

/*自定义虚线*/
.dotted{
	padding: 1em;
    border: 1px dashed transparent;
    background: linear-gradient(white,white) padding-box,
    repeating-linear-gradient(-45deg,#ccc 0, #ccc 0.25em,white 0,white 0.75em);
}
/*android 移动端line-height没有居中 1: tabel-cell 2: line-height:0; padding填充高度*/
