<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			a{ color: #000; text-decoration: none; }
			dot {
			    display: inline-block; 
			    height: 1em;
			    line-height: 1;
			    vertical-align: -.25em;
			    overflow: hidden;
			}
			dot::before {
			    display: block;
			    content: '...\A..\A.';
			    white-space: pre-wrap;
			    animation: dot 3s infinite step-start both;
			}
			@keyframes dot {
			    33% { transform: translateY(-2em); }
			    66% { transform: translateY(-1em); }
			}
		</style>
	</head>
	<body>
		<!--打点loading-->
		<a href="javascript:void(0)">加载中<dot>...</dot></a>
	</body>
</html>
